<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>{{judul}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="productDetail({},-1)">Tambah Detail Berita</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>No</th>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Lokasi</th>
                <th>Tahun</th>
                <th align="right">Aksi</th>
            </thead>
            <tbody>
                <tr *ngFor="let news of newss; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{news.judul}}</td>
                    <td>{{news.penulis}}</td>
                    <td>{{news.lokasi}}</td>
                    <td>{{news.tahun}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="productDetail(news,idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteProduct(news.id,idx)" [disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus...':'Hapus'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
