<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DCDCDC;">
    <div class="container-fluid">
        <img src="./assets/LOGO.png" width="20" height="20">
        <a class="navbar-brand" href="#">DOLAN YOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/beranda">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/wisata">Wisata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/berita">Berita Lokal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/dukungan">Dukungan</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2 class="text-center m-2">WISATA MAGETAN</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4 ">
        <div class="col">
            <div class="card">
                <img src="./assets/Sarangan2.jpg" class="card-img-top" alt="wisata Telaga Sarangan">
                <div class="card-body">
                    <h5 class="card-title">Telaga Sarangan</h5>
                    <p class="card-text">Telaga Sarangan adalah wisata Magetan yang sangat populer. Di sini pengunjung
                        bisa
                        melakukan banyak hal. Seperti mencoba wahana air atau berburu kuliner Magetan. Di sekelilingnya
                        terdapat pepohonan rindang yang membawa kesejukan. Belum lagi gunung-gunung yang menambah pesona
                        telaga Sarangan yang berlokasi di Kecamatan Plaosan, Kabupaten Magetan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/Mojosemi.png" class="card-img-top" alt="Mojosemi Park">
                <div class="card-body">
                    <h5 class="card-title">Mojosemi Forest Park</h5>
                    <p class="card-text">Mojosemi Forest Park cocok kamu datangi untuk bermain dengan sahabat. Bukan
                        permainan biasa, karena di sini terdapat berbagai wahana outbond seru. Kamu tinggal memilih mana
                        yang paling menantang untuk dilakukan. Selain itu, berbagai spot yang instagenic juga disediakan
                        untuk pengunjung yang ingin menghabiskan momen. Langsung saja datang ke lokasinya di Jalan Raya
                        Telaga Sarangan, Sarangan, Kecamatan Plaosan.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/genilangit.jpg" class="card-img-top" alt="wisata Genilangit">
                <div class="card-body">
                    <h5 class="card-title">Taman Genilangit</h5>
                    <p class="card-text">Wisata Magetan Genilangit ini berada di Kecamatan Poncol dan cukup mudah
                        diakses
                        dari pusat kota. Banyak pengunjung yang datang setiap harinya terutama ketika liburan akhir
                        pekan.
                        Mereka ingin merasakan seperti apa keseruan bermain di area wisata alam Magetan dengan berbagai
                        fasilitas menawan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/Dam-Jejeruk.jpg" class="card-img-top" alt="wista air terjun">
                <div class="card-body">
                    <h5 class="card-title">Dam Jejeruk</h5>
                    <p class="card-text">Bendungan Ini juga bisa didatangi sebagai tempat wisata hits di Magetan. Kamu
                        bisa
                        turun ke sungai dan foto dengan latar belakang aliran air. Pesonanya mirip dengan untaian benang
                        butih halus. Agar lebih kekinian, coba foto dengan memakai floaties. Dijamin, gayamu akan
                        semakin
                        cetar. Lokasi Dam Jejeruk ini berada di Candirejo, Kecamatan Magelang.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/Trowongan-Lowo.jpg" class="card-img-top" alt="wista Magetan">
                <div class="card-body">
                    <h5 class="card-title">Terowongan Lowo</h5>
                    <p class="card-text">Terowongan Lowo adalah sungai dengan arus tenang yang kini semakin hits. Di
                        sini, para pengunjung bisa bermain dan mencoba tubing dengan ban. Ikuti arus sambil menikmati
                        pemandangan hamparan sawah di sekelilingnya. Lebih seru lagi jika kamu datang ke wisata Magetan
                        ini dengan teman-teman. Terowongan Lowo ada di Giripurno, Kecamatan Kawedanan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/Air-Terjun-Tirtosari.jpg" class="card-img-top" alt="wisata Magetan">
                <div class="card-body">
                    <h5 class="card-title">Air Terjun Tirtosari</h5>
                    <p class="card-text">Air Terjun di Magetan memiliki pesona yang menawan. Salah satu yang bisa kamu
                        datangi untuk menenangkan diri sekaligus menikmati alam adalah Air Terjun Tirtosari di Ngluweng,
                        Ngancar, Plaosan. Daya tarik utama dari objek wisata Magetan ini adalah bentuknya yang
                        bertingkat. Kemudian pepohonan yang rindang juga ikut menyumbang kesejukan.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold">Dolanyok.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>