<div class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: cornflowerblue;">
        <div class="container-fluid">
            <img src="./assets/LOGO.png" width="20" height="20">
            <a class="navbar-brand" href="./beranda">DOLAN YOK</a>
        </div>
    </nav>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="./assets/Sarangan2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Telaga Sarangan</h5>
                <p class="card-text">Telaga Sarangan, juga dikenal sebagai Telaga Pasir adalah telaga alami yang
                    berada di ketinggian 1.200 meter di atas permukaan laut dan terletak di lereng Gunung...</p>
                <a href="/beranda" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/Mojosemi.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mojosemi Forest Park</h5>
                <p class="card-text">Taman petualangan dengan kegiatan kemah. Kamu dapat melihat dinosaurus di dalamnya.
                    Cek informasi selengkapnya di bawah ini!!
                </p>
                <a href="/beranda" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>