<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DCDCDC;">
    <div class="container-fluid">
        <img src="./assets/LOGO.png" width="20" height="20">
        <a class="navbar-brand" href="#">DOLAN YOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/beranda">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/wisata">Wisata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/berita">Berita Lokal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dukungan">Dukungan</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="text-center text-lg-start text-muted">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Dolan Yok
                    </h6>
                    <p>
                        Website ini menampilkan galeri tempat wisata dan juga berita lokal di Kabupaten Magetan.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Apa saja disini?
                    </h6>
                    <p>
                        <a href="/beranda" class="text-reset">Beranda</a>
                    </p>
                    <p>
                        <a href="/wisata" class="text-reset">Wisata</a>
                    </p>
                    <p>
                        <a href="/berita" class="text-reset">Berita</a>
                    </p>
                    <p>
                        <a href="/dukungan" class="text-reset">Dukungan</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Kontak
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Magetan, Jawa Timur</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        dolanyok@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 62 8234 5678 8890</p>
                    <p><i class="fas fa-print me-3"></i> + 62 8234 567 89</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="text-dark">Copyright &copy; DolanYok</p>
        </div>
    </footer>
</div>