<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DCDCDC;">
    <div class="container-fluid">
        <img src="./assets/LOGO.png" width="20" height="20">
        <a class="navbar-brand" href="#">DOLAN YOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/beranda">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/wisata">Wisata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/berita">Berita Lokal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/dukungan">Dukungan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/login">Tambah Berita</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2 class="text-center m-2">WARTA ANYAR</h2>
    <div class="media">
        <div class="card">
            <h3 class="card-header">Aneka</h3>
            <div class="card-body">
                <img src="./assets/biji-kopi.jpg" width="200" height="100">
                <h2 class="card-title">Pemkab Magetan Dorong Kopi Alastuwo Jadi Komoditas Andalan</h2>
                <p class="card-text">"Produk kopi asli gapoktan ini sudah ditanam warga setempat sejak zaman Belanda.
                    Tentu cita rasanya tidak perlu diragukan lagi. Jadi, silakan datang ke Alastuwo dan coba produk kopi
                    asli Gunung Tambal, Poncol, Magetan," ujar Bupati Magetan Suprawoto di Magetan, Rabu (30/6).
                </p>
                <p class="card-text"><small class="text-muted">Diposting pada: Rabu, 30 Jun 2021 23:57 WIB</small></p>
                <a href="/isi-berita" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="card">

            <div class="card-body">
                <img src="./assets/tanaman-kopi.jpg" width="200" height="100">
                <h2 class="card-title">Pemkab Magetan Fokus Pengenalan Budidaya Tanaman Kopi</h2>
                <p class="card-text">Sementara untuk kopi arabica yakni ada total 178 hektar lahan. Dengan 121 lahan
                    yang menghasilkan. Produktivitasnya yakni 4,53 ton per hektar. Total produksi di tahun 2020 yakni 55
                    ton. Kopi arabica lebih sedikit ketimbang robusta karena selain agak sulit perawatnnya, perlu...
                </p>
                <p class="card-text"><small class="text-muted">Diposting pada: Minggu, 18 Juli 2021 15:00 WIB</small></p>
                <a href="#" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="card">

            <div class="card-body">
                <img src="./assets/wisatawan-mojosemi.jpg" width="200" height="100">
                <h2 class="card-title">Larangan Mudik Buka Peluang Objek Wisata di Magetan, Wisatawan Lokal Jadi Andalan
                    Pulihkan Ekonomi</h2>
                <p class="card-text">Sejumlah pengelola tempat wisata di Kabupaten Magetan pun mulai mempersempit
                    sasaran kunjungan ke daerah sendiri. Mereka umumnya lebih mengandalkan wisatawan lokal yang selama
                    ini tetap membanjiri tempat wisatanya, seperti di Mojosemi Park Magetan.
                </p>
                <p class="card-text"><small class="text-muted">Diposting pada: Minggu, 4 April 2021 21:22</small></p>
                <a href="#" class="btn btn-primary">Selengkapnya</a>
            </div>
        </div>
    </div>
</div>
<div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="text-dark">Copyright &copy; DolanYok</p>
        </div>
        <!-- Copyright -->
    </footer>
</div>