<div class="center">
    <mat-card class="example-card align-content-center">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img src="./assets/Telaga-Wahyu.jpg" alt="Wisata Telaga Wahyu" class="center">
        <mat-card-content>
            <p style="text-align: center;">
                Jika Anda ingin memiliki informasi dari daerah tempat tinggal Anda, tambahkan pada daftar berita.
                Selamat mencoba!
            </p>
        </mat-card-content>
    </mat-card>
</div>