<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DCDCDC;">
    <div class="container-fluid">
        <img src="./assets/LOGO.png" width="20" height="20">
        <a class="navbar-brand" href="#">DOLAN YOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/beranda">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/wisata">Wisata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/isi-berita">Berita Lokal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/dukungan">Dukungan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/login">Tambah Berita</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <div class="card">
        <ol class="breadcrumb m-3">
            <li class="breadcrumb-item"><a href="/berita">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Aneka</li>
        </ol>
    </div>

</nav>
<div class="container">
    <div class="media">
        <div class="text-center">
            <h1>Pemkab Magetan Dorong Kopi Alastuwo Jadi Komoditas Andalan</h1>
            <img src="./assets/biji-kopi-besar.jpg">
            <figcaption class="figure-caption m-1">Biji kopi sangrai. Ilustrasi</figcaption>
        </div>

        <body>
            <p>
                DOLANYOK.COM, MAGETAN -- Pemerintah Kabupaten Magetan, Jawa Timur, mendorong kopi Alastuwo yang
                dikembangkan oleh petani kopi di Kelurahan Alastuwo, Kecamatan Poncol untuk menjadi komoditas andalan di
                wilayah setempat.</p>
            <p>
                "Produk kopi asli gapoktan ini sudah ditanam warga setempat sejak zaman Belanda. Tentu cita rasanya
                tidak
                perlu diragukan lagi. Jadi, silakan datang ke Alastuwo dan coba produk kopi asli Gunung Tambal, Poncol,
                Magetan," ujar Bupati Magetan Suprawoto di Magetan, Rabu (30/6).</p>
            <p>
                Suprawoto ingin agar perkebunan kopi di Gunung Tambal, Poncol tersebut bisa lebih berkembang. Ia juga
                ingin agar petani kopi setempat berinovasi mengemas kopi lokal tersebut sebagus mungkin sehingga dapat
                menarik wisatawan di masa mendatang.</p>
            <p>
                Selain itu, komoditas unggulan tersebut juga dapat dikolaborasikan dengan sejumlah tempat wisata yang
                ada di Kecamatan Poncol, sehingga terbentuklah spot wisata yang unik dan saling menunjang satu sama lain
                untuk meningkatkan kunjungan wisatawan di masa mendatang.</p>
            <p>
                Ketua Kelompok Tani Gunung Tambal Sukmono mengatakan kopi Alastuwo yang dikembangkan di desanya tersebut
                merupakan jenis robusta dan exelsa. "Sejauh ini luasan perkebunan kopi yang dikembangkan di kawasan
                Gunung Tambal telah mencapai 5,5 hektare," kata Sukmono.</p>
            <p>
                Dengan luas 5,5 hektare tersebut, setiap musim panen bisa menghasilkan 8,5 ton kopi glondong kering.
                Angka produksi itu untuk sementara hanya cukup memenuhi kebutuhan lokal saja. Pihaknya bersama anggota
                kelompok tani setempat terus berupaya menambah luasan perkebunan kopi tersebut, karena memang cukup
                menjanjikan.</p>
            <p>
                "Luasan penanaman kopi akan ditambah, sebab tanaman kopi itu secara ekonomi lebih menjanjikan dari pada
                tanaman yang lain," kata Sukmono.
                Untuk menambah nilai ekonomi, sebagian petani tidak menjual kopi dalam bentuk biji glondongan kering.
                Namun, memilih dengan mengolah lagi menjadi bubuk kopi siap saji.</p>
            <p>
                "Nah bubuk kopi yang sudah ada, selanjutnya siap dikemas rapi agar mudah dipasarkan. Hal demikian yang
                kini sedang kami kembangkan," tambahnya.</p>
            <p>
                Pihaknya berharap pangsa pasar kopi Gunung Tambal tidak hanya dinikmati oleh penggemar kopi lokal.
                Tetapi juga bisa menembus pangsa pasar luar daerah. Khususnya di kota-kota besar, seperti Jakarta,
                Bandung, Semarang, dan Surabaya.</p>
                <figcaption class="figure-caption m-1 text-end">sumber : Antara</figcaption>
        </body>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>